@(title: String)(content: Html)(implicit flash: Flash, lang: Lang)
<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
  </head>
  <body>
    <div class="screenshot">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <a class="navbar-brand" href="@routes.Application.index()">
            @Messages("application.name")
          </a>
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="@routes.Products.list()">
                @Messages("products.list.navigation")
              </a>
            </li>
            <li>
              <a href="@routes.Products.newProduct()">
                <i class="glyphicon-plus glyphicon-white"></i>
                @Messages("products.new.command")
              </a>
            </li>
          </ul>
        </div>
      </nav>  <!-- nav -->
    </div>

    <div class="container bg-info">
      @if(flash.get("success").isDefined){
        <div class="alert alert-success">
          @flash.get("success")
        </div>
      }

      @if(flash.get("error").isDefined){
        <div class="alert alert-danger">
          @flash.get("error")
        </div>
      }

      @content
      @debug()
    </div>

    <script src='@routes.Assets.at("js/bootstrap.js")'></script>
  </body>
</html>
